<section class="section">
  <div class="container">

    <form [formGroup]="triangleForm" (ngSubmit)="onSubmit()">

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="a" class="label">1st side of triangle</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="number" name="a" id="a" class="input" formControlName="a" [ngClass]="{'is-danger': getErrors('a')}">
            </div>
            <p class="help is-danger" *ngIf="getErrors('a') && getErrors('a').required">
              1st side of triangle is required
            </p>
            <p class="help is-danger" *ngIf="getErrors('a') && getErrors('a').positive">
              value should be greater than 0
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="b" class="label">2nd side of triangle</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="number" name="b" id="b" class="input" formControlName="b" [ngClass]="{'is-danger': getErrors('b')}">
            </div>
            <p class="help is-danger" *ngIf="getErrors('b') && getErrors('b').required">
              2nd side of triangle is required
            </p>
            <p class="help is-danger" *ngIf="getErrors('b') && getErrors('b').positive">
              value should be greater than 0
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="c" class="label">3rd side of triangle</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="number" name="c" id="c" class="input" formControlName="c" [ngClass]="{'is-danger': getErrors('c')}">
            </div>
            <p class="help is-danger" *ngIf="getErrors('c') && getErrors('c').required">
              3rd side of triangle is required
            </p>
            <p class="help is-danger" *ngIf="getErrors('c') && getErrors('c').positive">
              value should be greater than 0
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <p class="help is-danger" *ngIf="triangleForm.errors && triangleForm.errors.triangle">
              All sides of the triangle should be less then the sum of other two sides
            </p>
            <div class="control buttons">
              <button type="submit" class="button is-primary" [ngClass]="{'is-outlined': !triangleForm.valid, 'is-loading': submitting}"
                [disabled]="submitting || !triangleForm.valid || !triangleForm.dirty" [title]="!triangleForm.valid ? 'The form is invalid' : ''">
                Calculate
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" *ngIf="triangleType">
        <div class="field-label is-normal">
          <label for="result" class="label">Triangle type</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input type="text" name="result" id="result" class="input is-static" [value]="triangleType" readonly>
            </div>
          </div>
        </div>
      </div>

    </form>

    <div class="modal is-active" *ngIf="error">
      <div class="modal-background"></div>
      <div class="modal-content">
          <article class="message is-danger">
              <div class="message-header">
                <p>{{error.title}}</p>
                <button class="delete" (click)="error = null"></button>
              </div>
              <div class="message-body">
                <p *ngFor="let message of error.messages">
                  {{message}}
                </p>
              </div>
            </article>
      </div>
    </div>

  </div>
</section>
